.idea
.DS_Store
.venv
generated/xcore/edesc
generated/xcore/contab/netex.html
/xsd/
templates/README.md~
tools/schematron_builder/__pycache__/template2schematron.cpython-313.pyc
__pycache__
**/__pycache__/

netex_rg_ch.egg-info
dist/
site/
build/
netex_rg_ch_test.egg-info/